/* Style for the nav element */
nav {
    background-color: rgb(5, 72, 126);
    padding: 10px;
  }
  
  nav a {
    color: white;
    display: block;
    padding: 20px;
  }
  
  /* Style for the h1 element */

  h1 {
    color: black;
  }
  h2 {
    color: black;
  }
  
  /* Style for the images in the main section */
  main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
  }
  
  /* Style for the paragraph elements */
  p {
    padding: 0;
  }
  
  /* Style for the main section */

    main {
      max-width: 840px;
    }

  
  /* Style for the aside element */
  
aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: rgb(246, 240, 240);
  color: black;
  text-align: center;
}
    
  
  /* Style for images in the aside */
  aside img {
    width: 200px;
    height: auto;
  }
  
  /* Style for the footer */
  footer {
    margin-top: 20px;
    border-top: 1px solid steelblue;
    text-align: center;
  }
  
  